@import "variables.scss";

.App {
  font-family: "Michroma", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark-white;

  .container {
    transform: skewY(-5deg);
    margin-bottom: 6em;

    @media (max-width: 576px) {
      margin-left: 1em;
    }
  }
}

.App-header {
  overflow-x: hidden;
}
