@import "variables.scss";

.info-card {
  position: relative;
  width: 300px;
  height: 300px;
  background: $base-white;
  transition: 0.5s;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: $light-grey;
    transform-origin: bottom;
    transform: skewX(45deg);
  }

  &::after {
    box-sizing: content-box;
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 66.6%;
    background: $light-grey;
    transform-origin: left;
    transform: skewY(45deg);
    border-bottom: 100px solid $dark-yellow;
  }

  &:hover {
    transform: translateY(-20px) translateX(-20px);

    .content::before {
      transform: translateY(40px) skewX(45deg);
      filter: blur(5px);
      opacity: 0.5;
    }
  }

  .info-card-header {
    position: relative;
    width: 300px;
    height: 200px;
    background: $base-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .drivers-position-wrap {
      width: 30px;
      height: 30px;
      color: $base-white;
      font-size: .9em;

      &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 15px;
        background: $base-red;
        transform-origin: bottom;
        transform: skewX(45deg);
      }

      &::after {
        box-sizing: content-box;
        content: "";
        position: absolute;
        z-index: 1;
        top: -15px;
        left: -15px;
        width: 15px;
        background: $light-grey;
        transform-origin: left;
        transform: skewY(45deg);
        border-top: 30px solid $base-red;
      }

    }

    h3 {
      position: relative;
      color: $base-black;
      margin-top: 15px;
      font-size: 1.2em;
    }

    .card-img {
      height: 100px;
      max-width: 200px;
      margin: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }

  .content {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 20px;
    background: $base-yellow;
    text-align: center;

    p {
      font-size: .9em;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: $card-shadow;
      transform-origin: bottom;
      transform: skewX(45deg);
      transition: 0.5;
      pointer-events: none;
      z-index: -1;
    }

  }

}

// .info-card:nth-child(1) {
//   z-index: 3;
// }

// .info-card:nth-child(2) {
//   z-index: 2;
// }

// .info-card:nth-child(3) {
//   z-index: 1;
// }

#VER {
  background-image: url("../../public/images/redbull2023.avif");
}

#LEC {
  background-image: url("../../public/images/ferrari2023.avif");
}

#PER {
  background-image: url("../../public/images/redbull2023.avif");
}

#RUS {
  background-image: url("../../public/images/mercedes2023.avif");
}

#SAI {
  background-image: url("../../public/images/ferrari2023.avif");
}

#HAM {
  background-image: url("../../public/images/mercedes2023.avif");
}

#NOR {
  background-image: url("../../public/images/mclaren2023.avif");
}

#OCO {
  background-image: url("../../public/images/alpine2023.avif");
}

#BOT {
  background-image: url("../../public/images/alfa2023.avif");
}

#ALO {
  background-image: url("../../public/images/aston2023.avif");
}

#MAG {
  background-image: url("../../public/images/haas2023.avif");
}

#RIC {
  background-image: url("../../public/images/mclaren.png");
}

#GAS {
  background-image: url("../../public/images/alpine2023.avif");
}

#VET {
  background-image: url("../../public/images/astonmartin.png");
}

#MSC {
  background-image: url("../../public/images/haas.png");
}

#TSU {
  background-image: url("../../public/images/alphaTauri2023.avif");
}

#ZHO {
  background-image: url("../../public/images/alfa2023.avif");
}

#STR {
  background-image: url("../../public/images/aston2023.avif");
}

#ALB {
  background-image: url("../../public/images/williams2023.avif");
}

#LAT {
  background-image: url("../../public/images/williams.png");
}

#DEV {
  background-image: url("../../public/images/alphaTauri2023.avif");
}

#HUL {
  background-image: url("../../public/images/haas2023.avif");
}

#SAR {
  background-image: url("../../public/images/williams2023.avif");
}

#PIA {
  background-image: url("../../public/images/mclaren2023.avif");
}