.card-img {
    height: 100px;
    max-width: 200px;
    margin: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  #VER {
    background-image: url("../../public/images/redbull.png");
  }
  
  #LEC {
    background-image: url("../../public/images/ferrari.png");
  }
  
  #PER {
    background-image: url("../../public/images/redbull.png");
  }
  
  #RUS {
    background-image: url("../../public/images/mercedesamg.png");
  }
  
  #SAI {
    background-image: url("../../public/images/ferrari.png");
  }
  
  #HAM {
    background-image: url("../../public/images/mercedesamg.png");
  }
  
  #NOR {
    background-image: url("../../public/images/mclaren.png");
  }
  
  #OCO {
    background-image: url("../../public/images/alpine.png");
  }
  
  #BOT {
    background-image: url("../../public/images/alfaromeo.png");
  }
  
  
  #ALO {
    background-image: url("../../public/images/alpine.png");
  }
  
  #MAG {
    background-image: url("../../public/images/haas.png");
  }
  
  #RIC {
    background-image: url("../../public/images/mclaren.png");
  }
  
  #GAS {
    background-image: url("../../public/images/alphatauri.png");
  }
  
  #VET {
    background-image: url("../../public/images/astonmartin.png");
  }
  
  #MSC {
    background-image: url("../../public/images/haas.png");
  }
  
  #TSU {
    background-image: url("../../public/images/alphatauri.png");
  }
  
  #ZHO {
    background-image: url("../../public/images/alfaromeo.png");
  }
  
  #STR {
    background-image: url("../../public/images/astonmartin.png");
  }
  
  #ALB {
    background-image: url("../../public/images/williams.png");
  }
  
  #LAT {
    background-image: url("../../public/images/williams.png");
  }
  
  #HUL {
    background-image: url("../../public/images/astonmartin.png");
  }