/* Color Variables */
*{
  --color-mercedes: #6CD3BF;
  --color-redbull: #1E5BC6;
  --color-ferrari: #ED1C24;
  --color-mclaren: #F58020;
  --color-alpine: #2293D1;
  --color-alphatauri: #4E7C9B;
  --color-astonmartin: #2D826D;
  --color-williams: #37BEDD;
  --color-alfaromeo: #B12039;
  --color-haas: 	#B6BABD;
}

.navbar {
  background-color: var(--color-alfaromeo);
}



